# Created by .ignore support plugin (hsz.mobi)
*.class
.mtj.tmp/
*.jar
*.war
*.ear
hs_err_pid*
.idea
*.iws
*.ipr
*.iml
/out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
dependency-reduced-pom.xml
target/
*/test-classes/*
\$*
.DS_Store

